<?xml version="1.0" encoding="utf-8"?>
<!--NephroThai or Center-->
<!--database config-->
<configs>
  <location>2</location>
  <path>D:\CA0001709-01\TRTSystem3.3.0.0\Database</path>
  <filename>1707TRTDatabase.mdb</filename>
  <centerid>1707</centerid>
  <centername>รักษ์บุณฑริกคลินิกเวชกรรม</centername>
</configs>